[Unit]
Description=CAN Bus Communication Service
Documentation=https://github.com/yourusername/embedded-learning-platform
After=systemd-modules-load.service
Wants=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ip link set can0 type can bitrate 500000
ExecStart=/sbin/ip link set up can0
ExecStop=/sbin/ip link set down can0
User=root
Group=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=can

[Install]
WantedBy=multi-user.target
