[Unit]
Description=MQTT Broker Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/mosquitto -c /etc/mosquitto/mosquitto.conf
Restart=always
RestartSec=5
User=mosquitto

[Install]
WantedBy=multi-user.target
